$colors: (
    'common': (
        'white': #ffffff,
        'black': #12062c,
        'gray': #6d6c71,
        'gray1': #eaedfe,
        'gray2': #f4f4f4,
        'gray3': #ebebeb,
        'gray4': #f5f8ff,
        
    ),
    'heading': (
        'primary': #12062c,
        '1': #03bfad,
        '2': #212e44,
        '3': #ff3f79,
        '4': #0d031e,
        '5': #0f0f0f,
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#f5f5ff,
        '3':#dadada,
        '4':#e8e8e8,
        '5':#f2f2ff,
        '6':#e5e5e5,
        '7':#e7e7f1,
        '8':#e8e7ea,
        '9':#ffe9ef,
        '10':#e7e7e7,
        '11':#ccccce,
        '12':#e2dfe7,
        '13':#f7f7f7,
        '14':#978da8,
        '15':#dee9f6,
        '16':#f0f0f0,
        '17':#d3d6db,
        '18':#9a9797,
        '19':#cfc7e1,
        '20':#f2edeb,
        '21':#c5c0d0,
        '22':#fbf8ff,
        '23':#f4f5f7,
        '24':#eee3ff,
        '25':#918ea4,
        '26':#fff7f3,
    ),
    'text': (
        'body':#67677a,
        'p':#767A7D,
        'li':#948aaa,
        'skill':#000000,
        '1':#dde4f7,
        '2':#6a6a6a,
        '3':#a09baa,
        '4': #55585B,
        '5': #A3A5A7,
        '6': #8d91a2,
        '7': #423264,
        '8': #867aa4,
        '9': #271b40,
        '10': #767676,
        '11': #0f0d1d,
        '12': #a1a1a1,
        '13': #00a393,
        '14': #8977f6,
        '15': #7d2df4,
        '16': #2e3d4f,
        '17': #51c107,
        '18': #0e0927,
        '19': #8348de,
        '20': #ddd,
        '21': #12e8d4,
        '22': #6222cc,
        '23': #676776,
        '24': #a366ff,
        '25': #13072d,
        '26': #3e3e59,
        '27': #f4d5de,
    ),
    'theme': (
        'primary': #7f2ef8,
    ),
    'border': (
        'primary': #fff,
        'secondary': #812efa,
        '1': #ebebeb,
        '2': #d4dbe3,
        '3': #e0e0e0,
        '4': #d8d5d5,
    )
);


$white : #fff;
$black : #020B18;
$theme-primary : #0989FF;
$border-primary : #EAEBED;
